{% extends "base/base.html" %}{% load static %}
{% block title %}{{ object.title }}{% endblock title %}
{% block ex_style %}
<link rel="stylesheet" href="{% static 'main_site/css/staylepage.css' %}">
<link rel="stylesheet" href="{% static 'main_site/css/bootstrap.rtl.min.css' %}" />
{% endblock ex_style %}
    
{% block main %}
<div class="container mt-5">
    <div id="section-hid" class="bg-gray">
        <!-- section 2 : baner  -->
        <div class="container-xl post-top ">
            <div class="row d-rtl">
                <div class="col-md-8 my-3">
                    <div class="shadow p-3  text-bg-light d-rtl">
                        {% if object.blog_photo %}
                        <img class="w-100" src="{{ object.blog_photo.url }}" alt="{{ object.title }}">
                        {% else %}
                        <img class="w-100" src="{% static 'No_Photo.png' %}" alt="{{ object.title }}">
                        {% endif %}
                        <h3 class="py-4">{{ object.title }}</h3>
                        <p class=" px-4">{{ object.text|safe }}</p>
                    </div>
                </div>
                <div class="col-md-3  my-sm-3">
                    <div class="shadow sticky-top p-3 t81  text-bg-light d-rtl ">
                        {% if object.author.avatar != "None" %}
                            <img class="w-100 rounded-circle" src="{{ object.author.avatar.url }}" alt="{{ object.author.get_full_name }}">
                        {% else %}
                            <img class="w-100 rounded-circle" src="{% static 'No_Photo.png' %}" alt="{{ object.author.get_full_name }}">
                        {% endif %}
                        <h3 class="py-3">اطلاعات مقاله</h3>
                        <div class="px-4">
                            <p class="text-body"> نام </p>
                            <ul>
                                <li class="text-secondary">
                                    {{ object.title }}
                                </li>
                            </ul>
                            <p class="text-body">نویسنده / مترجم</p>
                            <ul>
                                <li class="text-secondary">
                                    {{ object.author.get_full_name }}
                                </li>
                            </ul>
                            <p class="text-body"> تاریخ </p>
                            <ul>
                                <li class="text-secondary">
                                    {{ object.jcreated }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
