{% extends "base/base.html" %}{% load static %}
{% block title %}مقالات ما{% endblock title %}
{% block ex_style %}
<link rel="stylesheet" href="{% static 'main_site/css/staylepage.css' %}">
<link rel="stylesheet" href="{% static 'main_site/css/bootstrap.rtl.min.css' %}" />
{% endblock ex_style %}
    
{% block main %}
    <div id="main" class="container">
        <div class="bg-lg-white border-18 m-4 pt-5 px-5">
            <h3 class="d-flex justify-content-center  mb-5 h-titr text-white "> مقالات </h3>
            {% for object in object_list %}
                {% include 'single_blogs.html' with object=object %}
            {% endfor %}

            <div class="d-flex justify-content-center mt-3">
                {% include 'blogs_paginator.html' with object_list=object_list page_numbers=page_numbers current_page=current_page %}
            </div>
        </div>
    </div>
{% endblock main %}
