<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">

  <link rel="stylesheet" href="../css/bootstrap.rtl.min.css" />
  <!-- style css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
  <!-- <link rel="stylesheet" href="../css/style.css" /> -->
  <link rel="stylesheet" href="../css/login.css" />

  <title> Gaming mandegar</title>
</head>

<body class="bg-black my-5">






  <div class="container d-flex justify-content-center">

    <div class=" section-2  bac-section  my-6 w-sm-100">
      <h2 class="text-white d-flex justify-content-center shadow-text1">
        فراموشی گذرواژه
      </h2>
      <form action="#" method="post" enctype="multipart/form-data"><input type="hidden" name="_token"
          value="E3QfkMep0yHck2jpCsxYrWzTEA5MyDDTunxDNANQ">
        <div class="row d-flex">
          <div class="col-md-12 mb-1 d-flex justify-content-center  ">
            <div class="form-group my-3 w-90 mt-5">
              <label class="text-white text-center" for="title"> لطفا کد 4 رقمی ارسال شده به شماره موبایل یا ایمیل خود
                را
                در بخش زیر
                وارد کنید</label>
              <div class="d-flex mx-3 mt-2 flex-direction-row-reverse ">
                <input type="text" id="title" placeholder="" name="title"
                  class="mx-2  lww text-center form-control1 input-field bg-body border-bottom " required value="">
                <input type="text" id="title" placeholder="" name="title"
                  class="mx-2  lww text-center form-control1 input-field bg-body border-bottom" required value="">
                <input type="text" id="title" placeholder="" name="title"
                  class="mx-2  lww text-center form-control1 input-field bg-body border-bottom" required value="">
                <input type="text" id="title" placeholder="" name="title"
                  class="mx-2  lww text-center form-control1 input-field bg-body border-bottom" required value="">
              </div>
            </div>
          </div>
          <a href="./login3.html">
            <div class="col-12   d-flex justify-content-center mt-2 mb-5">
              <p type="submit" class="btn btn-primary btn-lg w-75 br"> تایید و ادامه</p>
            </div>
          </a>

        </div>


      </form>
      <a href="./login1.html" class="mt-5">
        <div class="d-flex justify-content-end mt-4">
          <p class="text-white d-flex justify-content-center">
            <svg class="me-2 mt-1" width="19" height="17" viewBox="0 0 21 19" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1.3999 13.1201H14.3599C15.8875 13.1201 17.3526 12.5132 18.4328 11.433C19.513 10.3528 20.1199 8.88774 20.1199 7.3601C20.1199 5.83245 19.513 4.36737 18.4328 3.28716C17.3526 2.20695 15.8875 1.6001 14.3599 1.6001H10.0399"
                stroke="white" stroke-width="1.44" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.7199 8.80005L1.3999 13.12L5.7199 17.44" stroke="white" stroke-width="1.44"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            بازگشت
          </p>
        </div>

      </a>

    </div>
  </div>










  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="../js/javScript.js"></script>

</body>

</html>