<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="Mandegarst" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|&quot;F:\Mandegarst\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
