{% extends "base/base.html" %} {% load static %}

{% block title %}بازی آنلاین{% endblock title %}

{% block main %}
    <!-- New Section start-->
    <section class="new container mt-6" id="new">
        <div class="heading">
            <i class="bx bxs-game"></i>
            <h2> بازی های انلاین </h2>
        </div>
        <!--Content-->
        <div class="new-content">
            <!--box 1-->

            <a href="{% url 'application:online_game_one' %}" class="box-btn">
                <div class="box">
                    <img src="{% static 'main_site/img/new1.jpg' %}" alt="">
                    <div class="box-text">
                        <h2>حدس اعداد </h2>
                        <h3>فکری</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div> <i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>
            <!--box 2-->

            <a href="{% url 'application:online_game_tow' %}" class="box-btn">
                <div class="box">
                    <img src="{% static 'main_site/img/new2.jpg' %}" alt="">
                    <div class="box-text">
                        <h2> تاس بنداز </h2>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div><i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>
            <!--box 3-->

            <a href="{% url 'application:online_game_three' %}" class="box-btn">
                <div class="box">
                    <img src="{% static 'main_site/img/new3.jpg' %}" alt="">
                    <div class="box-text">
                        <h2>مار (به یاد قدیم)</h2>
                        <h3>اکشن</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div> <i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </section>
    <!-- New section end -->

{% endblock main %}