{% extends "base/base.html" %}{% load static %}
{% block title %}درباره ما{% endblock title %}
{% block ex_style %}
<link rel="stylesheet" href="{% static 'main_site/css/staylepage.css' %}">
<link rel="stylesheet" href="{% static 'main_site/css/bootstrap.rtl.min.css' %}" />
{% endblock ex_style %}
    
{% block main %}
<div style="margin-top: 10rem;" class="section-2 mx-sm-5">
    <h2 class="text-black">درباره ما</h2>
    <p class="my-5 lineh2">
        استودیو ماندگار یکی از مراکز معتبر و خلاق در زمینه تولید محتوا و هنرهای دیجیتال است که با هدف ایجاد آثار با
        کیفیت و ماندگار تأسیس شده است. این استودیو با بهره‌گیری از تیمی متخصص و مجرب، به تولید انواع پروژه‌های هنری،
        موسیقی، فیلم و انیمیشن می‌پردازد.

        استودیو ماندگار به دنبال ایجاد فضایی خلاقانه و الهام‌بخش برای هنرمندان و تولیدکنندگان محتواست. این مجموعه با
        استفاده از تکنولوژی‌های روز دنیا و تجهیزات پیشرفته، امکان تولید آثار با کیفیت بالا را فراهم می‌آورد. همچنین،
        استودیو ماندگار به همکاری با هنرمندان و نویسندگان جوان اهمیت ویژه‌ای می‌دهد و سعی در پرورش استعدادهای نوظهور
        دارد.

        یکی از ویژگی‌های منحصر به فرد استودیو ماندگار، توجه به جزئیات و کیفیت در تمامی مراحل تولید است. از طراحی
        اولیه تا مراحل نهایی، هر پروژه با دقت و حوصله انجام می‌شود تا نتیجه نهایی بتواند تأثیرگذار و ماندگار باشد.

        این استودیو همچنین در برگزاری کارگاه‌ها و دوره‌های آموزشی برای علاقه‌مندان به هنر و تولید محتوا فعال است و
        به توسعه مهارت‌های جدید در این حوزه کمک می‌کند. استودیو ماندگار با رویکردی نوین و خلاقانه، همواره در تلاش
        است تا مرزهای هنر را گسترش دهد و آثارش را به مخاطبان بیشتری معرفی کند.

        در نهایت، استودیو ماندگار با اعتقاد به اینکه هنر می‌تواند زندگی را تغییر دهد، به خلق آثاری می‌پردازد که نه
        تنها زیبایی‌شناسی دارند، بلکه پیام‌های عمیق انسانی را نیز منتقل می‌کنند.

    </p>
</div>
{% endblock main %}
