<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gaming mandegar</title>
    <!-- #faviocon -->
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="./css/bootstrap.rtl.min.css" /> -->
    <!-- style css -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" /> -->
    <!-- swipper-->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Custom scroll bar-->
    <div class="progress">
        <div class="progress-bar" id="scroll-bar"></div>

    </div>
    <!-- Header -->
    <header>
        <div class="nav container">
            <!-- Logo -->
            <a href="./index.html aline-end" class="logo">Game<span class="px-2">mandegar </span></a>
            <div class="nav-icons">
                <i class="bx bx-bell" id="bell-icon"><span></span></i>
               <a href="./login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bx bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
            
            </a>
                <div class="menu-icon">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <!-- <img src="../img/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzNy1hZXctMTM5LnBuZw.webp" alt=""> -->

            <!-- menu -->
            <div class="menu">
                <img src="../img/menu.png" alt="">
                <div class="navbar">
                    <li><a href="index.html">خانه </a> </li>
                    <li><a href="game.html">کافه بازی </a></li>
                    <li><a href="game anline.html">بازی آنلاین </a></li>
                    <li><a href="article-main.html">مقالات </a></li>
                    <li><a href="abuot.html">درباره ی ما </a></li>
                </div>
            </div>
            <!-- notifications-->
            <div class="notification">
                <div class="notification-box">
                    <i class="bx bxs-check-circle"> </i>
                    <p class="text-white"> دانلود بازی های تازه </p>
                </div>
                <div class="notification-box">
                    <i class="bx bxs-x-circle"> </i>
                    <a class="text-white" href="../premium/premium.html">
                        <p> جهت دربافت کد پریمیوم کلیک کنید </p>
                    </a>
                </div>
            </div>
        </div>


   </header>

    <!-- New Section start-->
    <section class="new container mt-6" id="new">
        <div class="heading">
            <i class="bx bxs-game"></i>
            <h2>  کافه بازی   </h2>
        </div>
        <!--Content-->
        <div class="new-content">
            <!--box 1-->

            <a href="./05-Guess-My-Number/index.html" class="box-btn">
                <div class="box">
                    <img src="../img/new1.jpg" alt="">
                    <div class="box-text">
                        <h2>حدس اعداد </h2>
                        <h3>فکری</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div> <i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>
            <!--box 2-->

            <a href="./07-Pig-Game/index.html" class="box-btn">
                <div class="box">
                    <img src="../img/new2.jpg" alt="">
                    <div class="box-text">
                        <h2> تاس بنداز </h2>
                        <h3>Action</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div><i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>
            <!--box 3-->

            <a href="./snake-master/index.html" class="box-btn">
                <div class="box">
                    <img src="../img/new3.jpg" alt="">
                    <div class="box-text">
                        <h2>مار (به یاد قدیم)</h2>
                        <h3>اکشن</h3>
                        <div class="rating-download">
                            <div class="rating">
                                <i class="bx bxs-star"></i>
                                <span>4.7</span>
                            </div> <i class="bx bx-down-arrow-alt"></i>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <div class="next-page">
            <a href="#">next page </a>
        </div>
    </section>
    <!-- New section end -->




    <div class="copyright container">
        <a href="../index.html" class="logo">Game<span>mandegar </span></a>
        <p>&copy; hani</p>


    </div>








    <script src="js/swiper-bundle.min.js"></script>

    <script src="js/main.js"></script>
</body>

</html>