<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gaming mandegar</title>
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- style css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/staylepage.css">
    <link rel="stylesheet" href="../css/bootstrap.rtl.min.css" />

</head>

<body>
  <!-- Custom scroll bar-->
  <div class="progress">
    <div class="progress-bar" id="scroll-bar"></div>

</div>
<!-- Header -->
<header>
    <div class="nav container">
        <!-- Logo -->
        <a href="./index.html aline-end" class="logo">Game<span class="px-2">mandegar </span></a>
        <div class="nav-icons">
            <i class="bx bx-bell" id="bell-icon"><span></span></i>
           <a href="./login.html"> <i class="bi bi-person-circle bx"></i></a>
            <div class="menu-icon">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>

        <!-- menu -->
        <div class="menu">
            <img src="../img/menu.png" alt="">
            <div class="navbar">
                <li><a href="index.html">خانه </a> </li>
                <li><a href="game.html">کافه بازی </a></li>
                <li><a href="game anline.html">بازی آنلاین </a></li>
                <li><a href="article-main.html">مقالات </a></li>
                <li><a href="abuot.html">درباره ی ما </a></li>
            </div>
        </div>
        <!-- notifications-->
        <div class="notification">
            <div class="notification-box">
                <i class="bx bxs-check-circle"> </i>
                <p class="text-white"> دانلود بازی های تازه </p>
            </div>
            <div class="notification-box">
                <i class="bx bxs-x-circle"> </i>
                <a class="text-white" href="../premium/premium.html">
                    <p> جهت دربافت کد پریمیوم کلیک کنید </p>
                </a>
            </div>
        </div>
    </div>


</header>

<div class="container mt-5">
    <div id="section-hid" class="bg-gray">
        <!-- section 2 : baner  -->
        <div class="container-xl post-top ">
            <div class="row d-rtl">
                <div class="col-md-8   my-3  ">
                    <div class="shadow p-3  text-bg-light d-rtl">
                        <img class="w-100" src="../img/home.png" alt="">
                        <h3 class="py-4">
                            نام خبر
                        </h3>
                        <p class=" px-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                            استفاده
                            از طراحان
                            گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و
                            برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه
                            و
                            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                            علی
                            الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می
                            توان امید
                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                            زمان
                            مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای
                            موجود
                            طراحی اساسا مورد استفاده قرار گیرد.
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                            طراحان
                            گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است، و
                            برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی
                            می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه
                            و
                            متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
                            علی
                            الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می
                            توان امید
                            داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
                            زمان
                            مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای
                            موجود
                            طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی
                            نامفهوم از
                            صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                            مجله در
                            ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                            کاربردهای
                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد
                            گذشته
                            حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
                            بیشتری
                            را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی
                            ایجاد
                            کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
                            شرایط
                            سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
                            جوابگوی
                            سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم
                            متن
                            ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                            شرایط
                            فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                            باشد،
                            کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان
                            را می
                            طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
                            طراحان
                            خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که
                            تمام
                            و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد
                            نیاز
                            شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
                            اساسا
                            مورد استفاده قرار گیرد.</p>
                    </div>
                </div>
                <div class="col-md-3  my-sm-3  ">
                    <div class="shadow sticky-top p-3 t81  text-bg-light d-rtl ">
                        <img class="w-100 rounded-circle" src="../img/3.png" alt="">
                        <h3 class="py-3">اطلاعات مقاله</h3>
                        <div class="px-4">
                            <p class="text-body"> نام </p>
                            <ul>
                                <li class="text-secondary">
                                    لورم
                                </li>
                            </ul>

                            <p class="text-body">نویسنده / مترجم</p>
                            <ul>
                                <li class="text-secondary">
                                    لورم
                                </li>
                            </ul>
                            <p class="text-body"> تاریخ </p>
                            <ul>
                                <li class="text-secondary">
                                    لورم
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

</div>



<div class="copyright container">
    <a href="../index.html" class="logo">Game<span>mandegar </span></a>
    <p>&copy; hani</p>


</div>

        <script src="../js/swiper-bundle.min.js"></script>

        <script src="../js/main.js"></script>
</body>

</html>